.grid {
  display: grid;
  gap: var(--gap-space, 1.5rem);
  grid-template-columns: repeat(auto-fit, minmax(min(17.5rem, 100%), 1fr));

  &[data-columns='4'] {
    grid-template-columns: repeat(auto-fit, minmax(min(14rem, 100%), 1fr));
  }
}
