@use '../abstracts/' as *;

.line-decoration {
  position: relative;

  &::after {
    content: '';
    display: block;
    margin-block-start: size(36);

    width: 10rem;
    height: 1px;
    background-color: currentColor;
  }

  &.centered-text::after {
    margin-inline: auto;
  }
}
