@use '../abstracts/' as *;

.hero {
  padding-block: min(25vh, size(320));
  background-image: url('../assets/hero-bg.jpg');

  .title-xl {
    margin-top: 1.5em;

    @include mq(medium) {
      margin-top: 0;
    }
  }

  .grid-split {
    --gap-space: #{size(16)};
  }
}
