@use '../abstracts/' as *;

.product-card {
  $parent: &;
  position: relative;
  overflow: hidden;
  max-width: 31.25rem;
  margin-inline: auto;

  &__content {
    position: absolute;
    inset: auto 0 0 0;
    padding-block: size(32);
    padding-inline: size(32);
    background-color: rgba(clr(neutral, 900), 0.8);
    color: clr(neutral, 100);

    @supports (backdrop-filter: blur(2rem)) {
      background-color: rgba(clr(neutral, 900), 0.5);
      backdrop-filter: blur(0.25rem);
    }

    @media (hover: hover) and (pointer: fine) {
      transform: translateY(100%);
      transition: transform 450ms ease-in-out;

      #{$parent}:hover &,
      #{$parent}:focus & {
        transform: translateY(0);
      }
    }
  }

  .lead {
    color: clr(neutral, 100);
  }
}
