@use '../abstracts/' as *;

.testimonial {
  display: grid;
  grid-template-rows: auto 1fr auto;
  box-shadow: 0px 0px size(12) 0px rgba(0, 0, 0, 0.25);
  max-width: 31.25rem;
  margin-inline: auto;

  &__content {
    position: relative;
    isolation: isolate;
    padding-block: clamp(size(28), 4vw, size(80));
    padding-inline: clamp(size(28), 4vw, size(80));
    text-align: center;

    display: flex;
    align-items: center;

    &::after {
      content: '\201C';
      position: absolute;
      inset: 1rem auto auto 1rem;
      color: rgba(clr(neutral, 400), 0.09);
      font-family: $ff-secondary;
      font-size: 20rem;
      line-height: 1;
      aspect-ratio: 1;
      z-index: -1;
    }
  }

  &__footer {
    padding-block: size(16);
    padding-inline: size(16);
    background-color: clr(neutral, 200);
    text-align: center;

    &:last-child {
      font-size: fs(300);
    }
  }
}
